<div class="rWrapper">
  <h3 class="page-header">Editing: {{tab.name}}</h3>
  <form method="POST" action="/tabs/{{tab.id}}/edit?_method=PUT">
    <div class="form-group">Song:
      <input name="name" type="text" class="form-control" value="{{tab.name}}"/></div>
    <div class="form-group">Composer:
      <input name="composer" type="text" class="form-control" value="{{tab.composer}}"/></div>
    <div class="form-group">Tab Number:
      <input name="tabnum" type="text" class="form-control" value="{{tab.tabnum}}"/></div>
    <div class="form-group">Arranger:
      <input name="arranger" type="text" class="form-control" value="{{tab.arranger}}"/></div>
    <div class="form-group">Image URL:
      <input name="image" type="text" class="form-control" value="{{tab.image}}"/></div>
    <div class="form-group">Lyrics:
      <input name="lyrics" type="text" class="form-control" value="{{tab.lyrics}}"/></div>
    <div class="form-group">Description:
      <input name="description" type="text" class="form-control" value="{{tab.description}}"/></div>
    <div class="form-group">Tab Download:
      <input name="link" type="text" class="form-control" value="{{tab.link}}"/></div>
    <div class="form-group">Youtube:
      <input name="youtube" type="text" class="form-control" value="{{tab.youtube}}"/></div>
    <div class="form-group">
      <input name="submit" id="rSubmit" type="submit"/>
      <button><a href="/dashboard">Cancel</a></button>
    </div>
  </form>
<div>
