<form method="get" action="/dashboard">
<input type="submit" value="Back to library">
</form>

<ul>
  <li>Song: {{tab.name}}</li>
  <li>Composer: {{tab.composer}}</li>
  <li>Tab Number: {{tab.tabnum}}</li>
  <li>Arranger: {{tab.arranger}}</li>
  <li>Image URL: {{tab.image}}</li>
  <li>Lyrics: {{tab.lyrics}}</li>
  <li>Description: {{tab.description}}</li>
  <li><a href="{{tab.link}}">Tab Download</a></li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{tab.youtube}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
