<form method="get" action="/dashboard">
<input type="submit" value="dashboard">
</form>

<ul>
  <li>Song: {{tab.name}}</li>
  <li>Composer: {{tab.composer}}</li>
  <li>Tab Number: {{tab.tabnum}}</li>
  <li>Arranger: {{tab.arranger}}</li>
  <li>Image URL: {{tab.image}}</li>
  <li>Lyrics: {{tab.lyrics}}</li>
  <li>Description: {{tab.description}}</li>
  <li>Tab Download: {{tab.link}}</li>
</ul>