<h2>Billboard Charts</h2>

 <table id="myTable" class="ui selectable celled table">
	<thead>
		<th><h3 class="chartHD1">Rank</h3></th>
		<th><h3 class="chartHD2">Track</h3></th>
		<th>Last Week</th>
		<th>Peak position</th>
		<th>Weeks on Chart</th>
	</thead>
	<tbody>
		{{#each songs}}
		<tr>
			<td>
				<div class="ui centered grid">
					<p><h1>{{this.rank}}</h1></p>
				</div>
			</td>
			<td>
				<div class="ui grid">
					<div class="row">
						<div class="three wide column">
							<img src={{this.cover}} width="91" height="91" class="chartIMG">
						</div>
						<div class=" eight wide column chartTXT">
							<h2>{{this.title}}</h2>
							{{this.artist}}
						</div>
					</div>
				</div>
			</td>	
			<td class="two wide column">{{this.lastWk}}</td>
			<td class="two wide column">{{this.peak}}</td>	
			<td class="two wide column">{{this.wksOnChart}}</td>		
		</tr>
		{{/each}}
	</tbody>
</table>
