<div class = "ui grid"> 
    {{#if user}}
    <div class="centered row">
        <div class="sixteen wide column">
            <h3 class="ui top attached header centered aligned">
              Hi {{username}}, welcome to Dashboard
            </h3>
            <div class="ui attached segment">           
                <table id="myTable">
                    <thead>
                        <th>ID(song)</th>
                        <th>Song</th>
                        <th>Composer</th>
                        <th>Arranger</th>
                        <th></th>
                    </thead>
                    <tbody>
                      {{#each songs}}
                      <tr>
                        <td>{{this.id}}</td>
                        <td><a href="/tabs/{{this.id}}">{{this.name}}</a></td>
                        <td>{{this.composer}}</td>
                        <td>{{this.arranger}}</td>
                        <td>
                            <form method="POST" action="/tabs/{{id}}?_method=DELETE">
                                <button><a href="/tabs/{{this.id}}">View</a></button>
                                <button><a href="/tabs/{{this.id}}/edit">Edit</a></button>
                                <button type="submit" id="deleteButt">Delete</button>
                            </form>
                        </td>
                       </tr>
                       {{/each}}
                    </tbody> 
                </table>
            </div>
            <a class="ui bottom attached button" href="/tabs/new">
                <i class="plus circle icon"></i>Submit new tab/score
            </a>
        </div>
    </div>
    {{else}}
        {{#each songs}}
        <div class="four wide column">
            <div class="ui link raised card">                
                <a class="image" href="/tabs/{{this.id}}">
                  <img src="{{this.image}}">
                </a> 
                <div class="content">
                    <a class="header" href="/tabs/{{this.id}}">{{this.name}}</a>
                    <div class="meta">
                        <span class="date">{{this.composer}}</span>
                    </div>
                    <div class="description">
                        Arranger: {{this.arranger}}
                    </div>
                </div>
            </div>           
        </div>
        {{/each}} 
    {{/if}}
</div>


