<div class = "ui grid"> 
    <div class="centered row">
        <div class="sixteen wide column">
            <h3 class="ui top attached header centered aligned">
              Hi {{username}}, welcome to Dashboard

              <button id="toggleDelete" class="ui toggle button active">Deletion enabled</button>
            </h3>
            <div class="ui attached segment">                          
                <table class="ui selectable celled table"id="myTable">
                    <thead>
                        <th>Song ID</th>
                        <th>Song</th>
                        <th>Composer</th>
                        <th>Arranger</th>
                        <th></th>
                    </thead>
                    <tbody>
                      {{#each songs}}
                      <tr>
                        <td>{{this.id}}</td>
                        <td><a href="/tabs/{{this.id}}">{{this.name}}</a></td>
                        <td>{{this.composer}}</td>
                        <td>{{this.arranger}}</td>
                        <td>
                            <div class="ui labelled icon buttons">
                                <button class="ui green basic button"><a href="/tabs/{{this.id}}"><i class="file alternate icon"></i>View</a></button>
                                <button class="ui blue basic button"><a href="/tabs/{{this.id}}/edit"><i class="edit icon"></i>Edit</a></button>
                                <form method="POST" action="/tabs/{{this.id}}?_method=DELETE">
                                    <button type="submit" class="ui red basic button deleteButt"><i class="trash alternate icon"></i>Delete</button>
                                </form>
                             </div>
                        </td>
                       </tr>
                       {{/each}}
                    </tbody> 
                </table>
            </div>
            <a class="ui bottom attached teal button" href="/tabs/new">
                <i class="plus circle icon"></i>Add new tab/score
            </a>
        </div>
    </div>
</div>
