<!DOCTYPE html>
<html>
<head>
	<title>GuitarTabs</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="ui menu">
		<div class="ui item">
			<a href="/">
				<i class="play circle outline icon"></i>GuitarTabs
			</a>
		</div>
		<div class="right menu">
			<div class="item">
				<i class="home icon"></i>
	  			<a href="/">Home</a>
	  		</div>
	  		<div class="item">
				<i class="itunes note icon"></i>
				{{#if user}}	
					<a href="../dashboard">Dashboard</a>
				{{else}}
		  			<a href="../dashboard">Library</a>
	  			{{/if}}
	  		</div>
	  		<div class="ui pointing dropdown link item">
	  			<i class="id card icon"></i>
		    	<span class="text">Account</span>
		    	<i class="dropdown icon"></i>
		   		<div class="menu">
		    		<div class="header">Settings</div>
		      		{{#if user}}
		      			<div class="item"><a id="logout">Logout</a></div>
		      		{{else}}
		      			<div class="item"><a href="../users/login">Login</a></div>
		      			<div class="item"><a href="../users/register">Sign Up</a></div>
		      		{{/if}}
		   		</div>
			</div>
	  </div>
	</div>

	<div class="ui container">
		<div class="ui column centered grid">
        	  <form id="myform" method="POST" action="/users/logout">
        	  	<input type="hidden" value="Log Off" name="logOut">
        	  </form>
    	  	  <div class = "six wide column">
		          {{#if success_msg}}
		            <div class="ui success message">
		            	<i class="close icon"></i>
		            	<div class="header">Info</div>
		            	<p>{{success_msg}}</p>
		        	</div>
		          {{/if}}
		          {{#if error_msg}}
		            <div class="ui error message">
		            	<i class="close icon"></i>
		            	<div class="header">Error</div>
		            	<p>{{error_msg}}</p>
		            </div>
		          {{/if}}
	          </div>
		      <div class = "fourteen wide column">	          
	          	{{{body}}}
	    	  </div>
	    </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="/script/script.js"></script> 
</body>
</html>