<div class = "ui grid"> 
    {{#each songs}}
    <div class="four wide column">
        <div class="ui link raised card">                
            <a class="image" href="/tabs/{{this.id}}">
              <img src="{{this.image}}">
            </a> 
            <div class="content">
                <a class="header" href="/tabs/{{this.id}}">{{this.name}}</a>
                <div class="meta">
                    <span class="date">{{this.composer}}</span>
                </div>
                <div class="description">
                    Arranger: {{this.arranger}}
                </div>
            </div>
        </div>           
    </div>
    {{/each}} 
</div>


